In [3]:
import nltk
nltk.download('punkt')
import string
import math
import csv

text = "/content/founta_dataset.csv"
with open(text) as f:
    text_raw = f.read().lower()

# remove punctuation
translate_table = dict((ord(char), None) for char in string.punctuation);
text_raw = text_raw.translate(translate_table)

# tokenize
tokens = nltk.word_tokenize(text_raw)
bigrams = nltk.bigrams(tokens)

# unigram/bigram frequencies
unigram_counts = nltk.FreqDist(tokens)
bigram_counts = nltk.FreqDist(bigrams)

# write to file
unigram_path = text + ".unigrams"
bigram_path = text + ".bigrams"

with open(unigram_path, "w") as f:
    writer = csv.writer(f)
    filtered = [ (w,c) for w,c in unigram_counts.items() if c > 1]
    writer.writerows(filtered);
    
with open(bigram_path, "w") as f:
    writer = csv.writer(f)
    filtered = [ (b[0], b[1],c) for b,c in bigram_counts.items() if c > 3]
    writer.writerows(filtered)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [4]:
import pandas as pd

bigr = pd.read_csv("/content/founta_dataset.csv.bigrams", header=None)
bigr.head()

       0    1     2
0  beats   by    25
1     by   dr    25
2     dr  dre    21
3   spam    4  4290
4      4   rt  5459

In [5]:
unigr = pd.read_csv("/content/founta_dataset.csv.unigrams", header=None)
unigr.head()

         0     1
0    beats   108
1       by  5036
2       dr   144
3      dre    27
4  urbeats     2

In [13]:
bigr.index.name = 'ID'
bigr.columns = ['1', '2', 'freq']
bigr.head()

        1    2  freq
ID
0   beats   by    25
1      by   dr    25
2      dr  dre    21
3    spam    4  4290
4       4   rt  5459

In [14]:
unigr.index.name = 'ID'
unigr.columns = ['1', 'freq']
unigr.head()

          1  freq
ID
0     beats   108
1        by  5036
2        dr   144
3       dre    27
4   urbeats     2

In [15]:
bigr.freq.value_counts()

4       12028
5        7224
6        5058
7        3725
8        2653
        ...
332         1
300         1
268         1
318         1
1695        1
Name: freq, Length: 471, dtype: int64

In [16]:
unigr.freq.value_counts()

2       16432
3        6493
4        3729
5        2441
6        1881
        ...
557         1
685         1
749         1
1037        1
1215        1
Name: freq, Length: 730, dtype: int64